---
# Variables listed here are applicable to all host groups

ip_docker: 10.96.99.56
user: "{{ hostvars[\"127.0.0.1\"][\"ansible_user_id\"] }}"
# hashed password created with:
# python -c 'import crypt; print crypt.crypt("password", "$some$salt$")'
password: $1$Test$GgUC8gu/wFk3AGSALkSHs1
# Do Not commit key files
pub_key_file: "~/.ssh/id_rsa.pub"
pub_key: "{{ lookup('file', pub_key_file) }}"
