---
# Files in group_vars dir are bound to host groups (defined in the hosts file in our case) not roles
# Variables listed here are applicable to the "keycloak_servers" hosts

keycloak_ip: DO NOT COMMIT IP
keycloak_dir: /opt/keycloak
keycloak_jboss_home: "{{ keycloak_dir }}/{{ keycloak_package }}-{{ keycloak_version }}/keycloak"
keycloak_log_dir: "{{ keycloak_jboss_home }}/standalone/log"
http_port: 8080
management_port: 9990
offset: 100