---
# These tasks start the full Tyk stack
# By recommendation in the tutorial, start services in the following sequence: Dashboard, Pump and Gateway

- name: Configure Tyk Dashboard
  shell: /opt/tyk-dashboard/install/setup.sh --listenport={{ tyk_dashboard_port }} --redishost=localhost --redisport=6379 --mongo=mongodb://127.0.0.1/tyk_analytics --tyk_api_hostname=$HOSTNAME --tyk_node_hostname=http://localhost --tyk_node_port={{ tyk_gateway_port }} --portal_root=/portal --domain="{{ tyk_ip }}"

- name: Install Tyk Lisense Key
  lineinfile:
    path: /opt/tyk-dashboard/tyk_analytics.conf
    regexp: '^(\s*)"license_key": "",(\s*)$'
    line: '\1"license_key": "{{ tyk_licence_key }}",'
    backrefs: yes
    state: present

- name: Start Tyk Dashboard
  service:
    name: tyk-dashboard
    state: started
    enabled: yes

- name: Configure Tyk Pump
  shell: /opt/tyk-pump/install/setup.sh --redishost=localhost --redisport=6379 --mongo=mongodb://127.0.0.1/tyk_analytics

- name: Start Tyk Pump
  service:
    name: tyk-pump
    state: started
    enabled: yes

- name: Configure Tyk Gateway
  shell: /opt/tyk-gateway/install/setup.sh --dashboard=1 --listenport={{ tyk_gateway_port }} --redishost=localhost --redisport=6379

- name: Start Tyk Gateway
  service:
    name: tyk-gateway
    state: started
    enabled: yes

- name: Bootstrap the Dashboard with an initial user and organisation
  shell: /opt/tyk-dashboard/install/bootstrap.sh {{ tyk_ip }}
