---
# These tasks setup the repository

- name: Install required packages
  yum: name={{ item }} state=present
  with_items:
   - yum-utils
   - device-mapper-persistent-data
   - lvm2

- name: Setup stable repository
  command: yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo

- name: Install Docker CE
  yum:
    name: docker-ce
    state: present

- name: start docker
  systemd:
    name: docker
    state: started
    enabled: yes
